<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
<body>
<div>
  <a href="./openlayers/index.html" style="font-size: x-large;">Buka OpenLayer</a>
</div>
<div>
  <a href="./Post GCF/index.html" style="font-size: x-large;">Buka PETA DUNIA (GCF)</a>
</div>

<table class="table">
  <tbody id="lokasi">
    <tr>
      <th>Type</th>
      <th>Nama</th>
      <th>Kordinat</th>
    </tr>
  </tbody>
</table>

<script type="module" src="./get.js"></script>

</body>
</html>